# 100ms credentials — get these from https://dashboard.100ms.live
# Go to: Developer > Access Credentials
HMS_APP_ACCESS_KEY=6a28fbf30abef5663c1b47ba
HMS_APP_SECRET=zVE6b1FI_jiqVq48_FCyRXvF2MHy4gGvnxggL968buSj9pkIz3jdlqfzbFNVmK5M2B2X1Qkmg4DHaURHayICR_1xW_fPRJLXq0yIfXX45FzS5D7GWDFd-LMln_wtmkD3nmeMK06OuuuFpXTPZMXFeVGRYzD4CFHFmUrV5n0RwnM=

# Server port (default 3000)
PORT=3000
